check process {{ app_name }} matching "{{ pid_name }}"
	group {{ app_name }}
{% if start_pm %}
	start program = "cd {{ scripts_path }} && /bin/sh {{ scripts_service }} {{ start_pm }}'" as uid "{{ app_user }}"
{% elif stop_pm %}
	stop program = "cd {{ scripts_path }} && /bin/sh {{ scripts_service }} {{ stop_pm }}'" as uid "{{ app_user }}"
{% elif scripts_start %}
	start program = "cd {{ scripts_path }} && /bin/sh {{ scripts_start }}'" as uid "{{ app_user }}"
{% elif scripts_stop %}
	stop program = "cd {{ scripts_path }} && /bin/sh {{ scripts_stop }}'" as uid "{{ app_user }}"
{% endif %}