check process {{ app_name }} matching "{{ pid_name }}"
	group {{ app_name }}
{% if scripts_start %}
	start program = "/usr/bin/su - {{ app_user }} -c 'cd {{ scripts_path }} && sh {{ scripts_start }} &>>/var/log/monit/{{ app_name }}.log'"
{% endif %}
{% if scripts_stop %}
	stop program = "/usr/bin/su - {{ app_user }} -c 'cd {{ scripts_path }} && sh {{ scripts_stop }} &>>/var/log/monitd/{{ app_name }}.log'"
{% endif %}